<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password - Personal Finance Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header>
    <h1>Personal Finance Manager</h1>
    <nav>
      <button onclick="location.href='http://localhost:5000'">Home</button>
      <button onclick="location.href='http://localhost:5001/income'">Track Income</button>
      <button onclick="location.href='http://localhost:5002/expenses'">Track Expenses</button>
      <button onclick="location.href='http://localhost:5003/report'">Report</button>
      <button class="btn-update-password" onclick="location.href='http://localhost:5004/update-password'">Update Password</button>
      <button class="btn-export-data" onclick="location.href='http://localhost:5007/export'">Export Data</button>
      <button class="btn-logout" onclick="location.href='http://localhost:5000/logout'">Logout</button>
    </nav>
  </header>
  
  <header>
    <h2>Update Password</h2>
  </header>

  <div class="update-password-container">
    <form method="post" action="{{ url_for('update_password') }}">
      <label for="current_password">Current Password:</label>
      <input type="password" id="current_password" name="current_password" required>
      <label for="new_password">New Password:</label>
      <input type="password" id="new_password" name="new_password" required>
      <button type="submit">Update Password</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  <footer>
    <p>&copy; 2024 Personal Finance Manager - Ditrung Duong. All Rights Reserved.</p>
  </footer>
</body>
</html>
